	<p>Titulo: {{input type="text" value=title}}</p> 
	<p>Id del autor: {{input type="number" value=id}}</p>
	<p>Precio: {{input type="number" value=price}}</p>
	<p>Imagen: {{input type="text" value=image}}</p>
	<button{{action 'editarComponent'}}>Editar</button>
	<button{{action 'eliminarComponent'}}>Eliminar</button>